helpdeskDataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "helpdeskDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure SQL DW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DataEmissao",
						"type": "varchar"
					},
					{
						"name": "Nfe",
						"type": "varchar"
					},
					{
						"name": "cdProduto",
						"type": "varchar"
					},
					{
						"name": "cdVendedor",
						"type": "varchar"
					},
					{
						"name": "QtdItens",
						"type": "varchar"
					},
					{
						"name": "ValorUnitario",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "fVendas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dProdutos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RealizadoCSVRAW",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dProduto",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "Data Lake",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DataEmissao as string,",
						"          NFe as string,",
						"          cdProduto as string,",
						"          Produto as string,",
						"          {Grupo Produto} as string,",
						"          {Linha Produto} as string,",
						"          cdVendedor as string,",
						"          Vendedor as string,",
						"          Supervisor as string,",
						"          Gerente as string,",
						"          {Equipe Vendas} as string,",
						"          QtdItens as string,",
						"          ValorUnitario as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source1",
						"source1 select(mapColumn(",
						"          cdProduto,",
						"          Produto,",
						"          {Grupo Produto},",
						"          {Linha Produto}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 aggregate(groupBy(cdProduto,",
						"          Produto,",
						"          {Grupo Produto},",
						"          {Linha Produto}),",
						"     Count = count({cdProduto}),",
						"     partitionBy('hash', 1)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['dProduto.csv'],",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          cdProduto,",
						"          Produto,",
						"          {Grupo Produto},",
						"          {Linha Produto}",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dVendedor')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RealizadoCSVRAW",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dVendedor",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "Data Lake",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DataEmissao as string,",
						"          NFe as string,",
						"          cdProduto as string,",
						"          Produto as string,",
						"          {Grupo Produto} as string,",
						"          {Linha Produto} as string,",
						"          cdVendedor as string,",
						"          Vendedor as string,",
						"          Supervisor as string,",
						"          Gerente as string,",
						"          {Equipe Vendas} as string,",
						"          QtdItens as string,",
						"          ValorUnitario as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source1",
						"source1 select(mapColumn(",
						"          cdVendedor,",
						"          Vendedor,",
						"          Supervisor,",
						"          Gerente,",
						"          {Equipe Vendas}",
						"     ),",
						"     partitionBy('hash', 1),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 aggregate(groupBy(cdVendedor,",
						"          Vendedor,",
						"          Supervisor,",
						"          Gerente,",
						"          {Equipe Vendas}),",
						"     Count = count(cdVendedor)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['dVendedor.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          cdVendedor,",
						"          Vendedor,",
						"          Supervisor,",
						"          Gerente,",
						"          {Equipe Vendas}",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MetasCSVRaw",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "fMetas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "unpivot1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          cdVendedor as string,",
						"          {jan/17} as string,",
						"          {fev/17} as string,",
						"          {mar/17} as string,",
						"          {abr/17} as string,",
						"          {mai/17} as string,",
						"          {jun/17} as string,",
						"          {jul/17} as string,",
						"          {ago/17} as string,",
						"          {set/17} as string,",
						"          {out/17} as string,",
						"          {nov/17} as string,",
						"          {dez/17} as string,",
						"          {jan/18} as string,",
						"          {fev/18} as string,",
						"          {mar/18} as string,",
						"          {abr/18} as string,",
						"          {mai/18} as string,",
						"          {jun/18} as string,",
						"          {jul/18} as string,",
						"          {ago/18} as string,",
						"          {set/18} as string,",
						"          {out/18} as string,",
						"          {nov/18} as string,",
						"          {dez/18} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 unpivot(output(",
						"          Date as string,",
						"          {Valor Meta} as string",
						"     ),",
						"     ungroupBy(cdVendedor),",
						"     lateral: false,",
						"     ignoreNullPivots: false) ~> unpivot1",
						"unpivot1 derive({Valor Meta Clean} = replace({Valor Meta}, 'R$', '')) ~> derivedColumn1",
						"derivedColumn1 derive({Valor Meta Clean} = replace({Valor Meta Clean}, '.', ',')) ~> derivedColumn2",
						"derivedColumn2 select(mapColumn(",
						"          cdVendedor,",
						"          Date,",
						"          {Valor Meta } = {Valor Meta Clean}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['fMetas.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fVendas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RealizadoCSVRAW",
								"type": "DatasetReference"
							},
							"name": "TblVendas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "fVendas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DataEmissao as string,",
						"          NFe as string,",
						"          cdProduto as string,",
						"          Produto as string,",
						"          {Grupo Produto} as string,",
						"          {Linha Produto} as string,",
						"          cdVendedor as string,",
						"          Vendedor as string,",
						"          Supervisor as string,",
						"          Gerente as string,",
						"          {Equipe Vendas} as string,",
						"          QtdItens as string,",
						"          ValorUnitario as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TblVendas",
						"TblVendas select(mapColumn(",
						"          DataEmissao,",
						"          NFe,",
						"          cdProduto,",
						"          cdVendedor,",
						"          QtdItens,",
						"          ValorUnitario",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select",
						"select sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['fVendas.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Datalake to DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Data into dProduto",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate Table \ndbo.dProduto",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Produto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Grupo Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Grupo_Produto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Linha Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Linha_Produto",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dProdutotoDW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load Data into dVendedor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Data into dProduto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE \ndbo.dVendedor",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supervisor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supervisor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Gerente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gerente",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Equipe Vendas",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Equipe_Vendas",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dVendedortoDW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load Data into fMetas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Data into dVendedor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE\ndbo.fMetas",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Valor Meta ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Valor_Meta",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fMetastoDW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load Data into fVendas",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Data into fMetas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE \ndbo.fVendas",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataEmissao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataEmissao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NFe",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nfe",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "QtdItens",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QtdItens",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ValorUnitario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ValorUnitario",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fVendastoDW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metas - Ingest and transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BaseMetas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MetasCSVRaw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Ingest data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Realizado - Ingest and Transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Realizado Ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataEmissao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataEmissao",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NFe",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NFe",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdProduto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Produto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Grupo Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Grupo Produto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Linha Produto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Linha Produto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cdVendedor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supervisor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supervisor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gerente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gerente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Equipe Vendas",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Equipe Vendas",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QtdItens",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QtdItens",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ValorUnitario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ValorUnitario",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BaseRealizado",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RealizadoCSVRAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "fVendas to Transformed DL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Realizado Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "fVendas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"TblVendas": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dVendedor",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "fVendas to Transformed DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dVendedor",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/fVendas')]",
				"[concat(variables('factoryId'), '/dataflows/dVendedor')]"
			]
		}
	]
}